header{
    background-color: blueviolet;
    #images-removebg-preview1.png {
        width:50%/px
        height:7%/px
        padding-left:
        padding-right:
        background:
        
    }
}

body{
    background-color: rgb(255, 255, 255);
}

link:focus-visible